.img-person-kol-left {
    background-image: url('../images/ic_prev.png');
}

.img-person-kol-left1 {
    background-image: url('../images/ic_prev2.png');
}

.img-person-kol-right {
    background-image: url('../images/ic_next.png');
}

.img-person-kol-right1 {
    background-image: url('../images/ic_next2.png');
}